<div class="container">
  <div class="row">
    <div class="col-md-4 text-right">
      <%= gravatar_for @user, size: 150 %>
    </div>
    <div class="col-md-5">
      <% @user.posts.each do |p|  %>
        <%= render partial:'shared/post', locals:{post: p} %>
      <% end %>
    </div>
  </div>
</div>
